---
import type { Props as $, Block } from 'astro-portabletext/types';
import { generateHeadingIdFromBlock } from '../../../lib/portable-text-utils';

type Props = $<Block>;

const { node } = Astro.props;
const id = generateHeadingIdFromBlock(node);
---
<h2 id={id} class="text-3xl font-display font-bold mt-14 mb-5">
  <a href={`#${id}`} class="heading-link !text-ink no-underline hover:!text-ink cursor-pointer" data-heading-id={id}>
    <span class="text-ink"><slot /></span>
  </a>
</h2>
