@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../assets/fonts/Gilroy/Gilroy-Light.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: local("Gilroy"),
    url("../assets/fonts/Gilroy/Gilroy-ExtraBold.otf") format("opentype");
}

.body-light {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.body-dark {
  background: linear-gradient(-45deg, #434343, #000000, #2c3e50, #000000);
}

.body-light,
.body-dark {
  width: 100%;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Gilroy";
}

.rich-text-block a {
  color: blue;
  text-decoration: underline;
}

.rich-text-block li {
  margin: 1rem 0 1rem 0;
}

.rich-text-block p {
  margin: 1rem 0 1rem 0;
}

.active {
  border-bottom: 3px solid #ffffff;
}

.loader {
  position: absolute;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  border: 1px solid #1d9af2;
  opacity: 1;
  animation: spinner4 800ms linear infinite;
}

@keyframes spinner4 {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html.sr .load-hidden {
  visibility: hidden;
}
